<section id="personal-details" class="sub-container">
  <div class="page-title">
    <h2>Personal Details</h2>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/Dara%20cv.png" alt="">
    </div>

    <div class="col-md-3">
      <ul class="social-icons">
        <li>
          <a href="https://www.google.fr/maps/place/14+Rue+de+Reims,+75013+Paris/data=!4m2!3m1!1s0x47e6722431f00d09:0xed0f42d701b45d30?sa=X&ved=2ahUKEwjAlaiLtazdAhWQxIUKHehpAcMQ8gEwAHoECAMQAQ"><i class="fab fas fa-map-marker-alt"></i></a> 14 rue de Reims, Paris, FRANCE
        </li>
        <li><a href="#"><i class="fab fas fa-phone-square"></i></a> +33 6 11 81 55 67</li>
        <li><a href="mailto:daratran@gmail.com"><i class="fab fas fa-at"></i></a> daratran@gmail.com</li>
        <li><a href="https://www.linkedin.com/in/dara-tran-29859072/"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li><a href="#"><i class="fab fa-gitlab"></i></a> Gitlab</li>
      </ul>

      LANGUAGES
      <ul>
        <li>French</li>
        <li>English</li>
        <li>Spanish</li>
      </ul>

    </div>
    <div class="col-md-4">
      <p>Highly motivated, with good potential and willing to embrace new processes to learn and share
        experiences,
        looking for a perspective position.</p>
    </div>
  </div>
</section>
