body {
    background-color: #e0e7db;
    color: #34aea0;
}
.bg-primary {
    background-color: #34aea0 !important;
}

.text-primary {
    color: #34aea0 !important;
}

.icon-size{
    height: 2rem;
    width: 2rem;;
}

.dev-icons {
    font-size: 1.5rem;
    list-style: none;
}

.dev-icons li>div {
    display: none;
}
.dev-icons li:hover>div {
    display: inline-block;
}

/*Premiere page */
#img-eiffel-tower {
    width: 100%;
    height: 100%;
    background: url('../img/paris_sunset.JPG') center;
}

#main-title {
    color: #34aea0;
    text-align: center;
    padding-top: 25%;
    margin: 0 auto;
}

#main-title h1 {
    font-size: 8vw;
}

#main-title p {
    font-size: 2vw;
}

/*Personal Details*/
.img-dara {
    max-width: 60%;
    max-height: 60%;
    margin: 0 auto;
}

.social-icons li {
    list-style: none;
}
.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.page-title {
    padding-bottom: 3rem;
}


#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;-webkit-box-orient: vertical;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        /*display: flex;*/
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        margin: auto auto 0;
        max-width: 14rem;
        max-height: 14rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}


section.sub-container {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
}

@media (min-width: 768px) {
    section.sub-container {
        min-height: 100vh;
    }
    section.sub-container .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.sub-container {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        padding-left: 3rem !important;
    }
}


@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}
