<a class="navbar-brand js-scroll-trigger" routerLink="/content/main">
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="https://robohash.org/dara" alt="">
        </span>
  <span class="d-block d-lg-none">DT</span>
</a>
