<section id="education" class="sub-container">
  <div class="page-title">
    <h2>Education</h2>
  </div>

  <div class="education-element">
    <div class="d-flex flex-column flex-md-row mb-3">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Software Architect</h3>
        <div class="subheading mb-3">AFCEPF</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012 - 2013</span>
      </div>
    </div>
  </div>

  <div class="education-element">
    <div class="d-flex flex-column flex-md-row mb-3">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Msc Electronic and Computer Based System Design</h3>
        <div class="subheading mb-3">University of Huddersfield (UK)</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2008 - 2009</span>
      </div>
    </div>
  </div>

  <div class="education-element">
    <div class="d-flex flex-column flex-md-row mb-3">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Bachelor Electronic and Communication Engineering</h3>
        <div class="subheading mb-3">University of Huddersfield (UK)</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2007 - 2008</span>
      </div>
    </div>
  </div>

  <div class="education-element">
    <div class="d-flex flex-column flex-md-row mb-3">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">BTS Embedded Systems</h3>
        <div class="subheading mb-3">Dorian High School</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2005 - 2007</span>
      </div>
    </div>
  </div>
</section>
