<div id="frame">
  <nav id="sideNav" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <app-menu></app-menu>
  </nav>

  <div class="container-fluid p-0">
    <router-outlet></router-outlet>
  </div>
</div>
