<section id="contact" class="sub-container">
  <h2 class="mb-5">Contact</h2>

  <ul class="social-icons">
    <li>
      <a href="https://www.google.fr/maps/place/75013">Paris</a>
    </li>
    <li><a href="#">+33 6 11 81 55 67</a></li>
    <li><a href="mailto:daratran@gmail.com">daratran@gmail.com</a></li>
    <li><a href="https://www.linkedin.com/in/dara-tran-29859072/">linkedin</a></li>
    <li><a href="#">Gitlab</a></li>
  </ul>
</section>
