<section id="experiences" class="sub-container">
  <div class="page-title">
    <h2>Experiences</h2>
  </div>

  <div class="experience-element" *ngFor="let experience of collection">
    <div class="d-flex flex-column flex-md-row mb-3">
      <div [id]="'exp' + experience.id" class="resume-content mr-auto">
        <h3 class="mb-0">{{experience.companyName}}</h3>
        <div class="subheading mb-3">{{experience.jobName}}</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{experience.date.start | date: 'dd/MM/yyyy'}} - {{experience.date.end | date: 'dd/MM/yyyy'}}</span>
      </div>
    </div>

    <div class="mb-4">
      <p>{{experience.description}}</p>
    </div>

    <ul>
      <li *ngFor="let task of experience.tasks" class="col-sm">{{task}}</li>
    </ul>

    <hr/>
  </div>

</section>
