<section id="skills" class="sub-container">
  <h2 class="mb-5">Skills</h2>

  <div class="subheading mb-3">Programming Languages &amp; Tools</div>
  <ul class="dev-icons">
    <li>Angular
      <div><img src="assets/img/logos/angular.png" class="icon-size"/></div>
    </li>
    <li>AngularJs
      <div><img src="assets/img/logos/angularjs.png" class="icon-size"></div>
    </li>
    <li>Java 8
      <div><img src="assets/img/logos/java.png" class="icon-size"/></div>
    </li>
    <li>Oracle
      <div><img src="assets/img/logos/oracle-database.png" class="icon-size"></div>
    </li>
    <li>SQL Server
      <div><img src="assets/img/logos/microsoft-sql-server.png" class="icon-size"></div>
    </li>
    <li>Spring
      <div><img src="assets/img/logos/spring.png" class="icon-size"></div>
    </li>
    <li>Cucumber
      <div><img src="assets/img/logos/cucumber.png" class="icon-size"></div>
    </li>
    <li>Hibernate
      <div><img src="assets/img/logos/Hibernate-logo.png" class="icon-size"></div>
    </li>
    <li>HTML5
      <div><img src="assets/img/logos/html5.png" class="icon-size"></div>
    </li>
    <li>CSS
      <div><img src="assets/img/logos/css.png" class="icon-size"></div>
    </li>
    <li>JSP
      <div><img src="assets/img/logos/jsp.png" class="icon-size"></div>
    </li>
    <li>REST
      <div><img src="assets/img/logos/restful.png" class="icon-size"></div>
    </li>
    <li>SOAP
      <div><img src="assets/img/logos/soap.png" class="icon-size"></div>
    </li>
    <li>STRUTS 2
      <div><img src="assets/img/logos/struts2.png" class="icon-size"></div>
    </li>
    <li>IntelliJ
      <div><img src="assets/img/logos/intellij.png" class="icon-size"></div>
    </li>
    <li>Tomcat
      <div><img src="assets/img/logos/tomcat.png" class="icon-size"></div>
    </li>
  </ul>
</section>
