<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav">
    <li class="navbar-nav"
      [ngClass]="{'active': selection === item }"
      *ngFor="let item of collection">
      <app-menu-list-item
        [menu]="item"
        (click)="action.emit(item)">
      </app-menu-list-item>
    </li>
  </ul>
</div>


<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"-->
<!--aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->

<!--<div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
<!--<ul class="navbar-nav">-->
<!--<li class="nav-item active">-->
<!--<a class="nav-link js-scroll-trigger" href="#">Home</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link js-scroll-trigger" href="#personal-details">Personal Details</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link js-scroll-trigger" href="#education">AppEducation</a>-->
<!--</li>-->
<!--<li class="nav-item dropdown">-->
<!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--Experiences-->
<!--</a>-->
<!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
<!--<a class="dropdown-item  js-scroll-trigger" href="#prima-solutions">Prima Solutions</a>-->
<!--<a class="dropdown-item  js-scroll-trigger" href="#canal-plus">Canal+</a>-->
<!--<a class="dropdown-item  js-scroll-trigger" href="#bee-to-bee">BeeToBee</a>-->
<!--<a class="dropdown-item  js-scroll-trigger" href="#neopost">Neopost</a>-->
<!--</div>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link js-scroll-trigger" href="#skills">Skills</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link js-scroll-trigger" href="#contact">AppContact</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->


<!---->
